$colores: (
  primario: #ffccff, 
  secundario: #e6ccff, 
  texto: #333, 
  boton: #ff6666 
);

$espaciado: (
  padding-header: 20px, 
  margin-form: 20px, 
  padding-footer: 20px 
);

$colores_nuevo: (
  primario: #ffccff, 
  secundario: #e6ccff, // Melocotón
  texto: #333, // Color principal del texto
  boton: #ff6666 // Color del botón
);